* {
    font-family: Poppins, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

.nav {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-centered {
    align-items: center;
}

.content-container {
    max-width: 1120px;
    justify-content: center;
    margin: auto;
}

#app-logo {
    height: 40px;
    margin-right: 16px;
}

.nav-bar-wrapper {
    width: 100%;
    justify-content: space-between;
}

#app-title {
    font-weight: bold;
    font-size: 1.88em;
    line-height: 20px;
    color: #173A56;
}

.nav-links-container >a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    line-height: 28px;
    color: #22343D;
    margin: 0 10px;
}